body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(70, 203, 60);
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        padding: 50px;
        text-align: center;
        background-color: rgb(0, 111, 32);
        background-size: cover;
        color: aliceblue;
        font-size: 30px;
        height: 100px;
    }
    
    h1 {
        font-size: 33px;
        margin: 0 auto;
        letter-spacing: 2px;
    }
    
    nav {
        font-size: 20px;
        background-color: rgb(3, 67, 9);
    }
    
    .menu_horizontal {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 800px;
    }
    
    .menu_horizontal > li > a {
        display: block;
        padding: 20px 25px;
        color: aliceblue;
        text-decoration: none;
    }
    
    .menu_horizontal > li:hover {
        background-color: rgb(0, 111, 32);
    }
    
    .menu_vertical {
        position: absolute;
        display: none;
        list-style: none;
        width: 190px;
        background-color: rgba(3, 67, 9, 0.9);
    }
    
    .menu_horizontal li:hover .menu_vertical {
        display: block;
    }
    
    .menu_vertical li:hover {
        background-color: rgb(0, 111, 32);
    }
    
    .menu_horizontal li:hover .menu_vertical>li>a{
        color: aliceblue;
    }
    
    .menu_vertical li a {
        display: block;
        padding: 15px 15px 15px 20px;
        text-decoration: none;
        color: black;
    }
    
    #main {
        margin: 20px auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(245, 186, 163);
        padding: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
    }
    
    #contenedor_imagenes {
        width: 70%;
        overflow: hidden;
        display: flex;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
    }
    
    .img_galeria {
        width: 100%;
        aspect-ratio: 4/3;
    }
    
    .flecha {
        font-size: 100px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
        border-radius: 5px;
        background-color: rgb(70, 203, 60);
    }
    
    .flecha:hover {
        border-color: rgb(70, 203, 60);
        background-color: rgb(3, 67, 9);
        color: aliceblue;
    }
    
    footer {
        text-align: center;
        background-color: rgb(0, 111, 32);
        padding: 10px;
        color: aliceblue;
    }
    
    footer p {
        font-size: 20px;
    }
}

@media screen and (min-width: 774px) and (max-width: 1023px) {
    header {
        display: flex;
        align-items: center;
        padding: 50px;
        text-align: center;
        background-color: rgb(0, 111, 32);
        background-size: cover;
        color: aliceblue;
        font-size: 30px;
        height: 100px;
    }
    
    h1 {
        font-size: 33px;
        margin: 0 auto;
        letter-spacing: 2px;
    }
    
    nav {
        font-size: 20px;
        background-color: rgb(3, 67, 9);
    }
    
    .menu_horizontal {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 700px;
    }
    
    .menu_horizontal > li > a {
        display: block;
        padding: 20px 25px;
        color: aliceblue;
        text-decoration: none;
    }
    
    .menu_horizontal > li:hover {
        background-color: rgb(0, 111, 32);
    }
    
    .menu_vertical {
        position: absolute;
        display: none;
        list-style: none;
        width: 190px;
        background-color: rgba(3, 67, 9, 0.9);
    }
    
    .menu_horizontal li:hover .menu_vertical {
        display: block;
    }
    
    .menu_vertical li:hover {
        background-color: rgb(0, 111, 32);
    }
    
    .menu_horizontal li:hover .menu_vertical>li>a{
        color: aliceblue;
    }
    
    .menu_vertical li a {
        display: block;
        padding: 15px 15px 15px 20px;
        text-decoration: none;
        color: black;
    }
    
    #main {
        margin: 100px auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(245, 186, 163);
        padding: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
    }
    
    #contenedor_imagenes {
        width: 80%;
        overflow: hidden;
        display: flex;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
    }
    
    .img_galeria {
        width: 100%;
        aspect-ratio: 4/3;
    }
    
    .flecha {
        font-size: 70px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
        border-radius: 5px;
        background-color: rgb(70, 203, 60);
    }
    
    .flecha:hover {
        border-color: rgb(70, 203, 60);
        background-color: rgb(3, 67, 9);
        color: aliceblue;
    }
    
    footer {
        text-align: center;
        background-color: rgb(0, 111, 32);
        padding: 10px;
        color: aliceblue;
    }
    
    footer p {
        font-size: 20px;
    }
}

@media screen and (max-width: 773px) {
    header {
        display: flex;
        align-items: center;
        padding: 50px;
        text-align: center;
        background-color: rgb(0, 111, 32);
        background-size: cover;
        color: aliceblue;
        font-size: 30px;
        height: 100px;
    }
    
    h1 {
        font-size: 33px;
        margin: 0 auto;
        letter-spacing: 2px;
    }
    
    nav {
        font-size: 15px;
        background-color: rgb(3, 67, 9);
    }
    
    .menu_horizontal {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        max-width: 85%;
    }
    
    .menu_horizontal li {
        width: 25%;
    }

    .menu_horizontal > li > a {
        display: block;
        padding: 20px 25px;
        color: aliceblue;
        text-decoration: none;
    }
    
    .menu_horizontal > li:hover {
        background-color: rgb(0, 111, 32);
    }
    
    .menu_vertical {
        position: absolute;
        display: none;
        list-style: none;
        width: 190px;
        background-color: rgba(3, 67, 9, 0.9);
    }
    
    .menu_horizontal li:hover .menu_vertical {
        display: block;
    }
    
    .menu_vertical li:hover {
        background-color: rgb(0, 111, 32);
    }
    
    .menu_horizontal li:hover .menu_vertical>li>a{
        color: aliceblue;
    }
    
    .menu_vertical li a {
        display: block;
        padding: 15px 15px 15px 20px;
        text-decoration: none;
        color: black;
    }
    
    #main {
        margin: 150px auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(245, 186, 163);
        padding: 20px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
    }
    
    #contenedor_imagenes {
        width: 80%;
        overflow: hidden;
        display: flex;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
    }
    
    .img_galeria {
        width: 100%;
        aspect-ratio: 4/3;
    }
    
    .flecha {
        font-size: 30px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(24, 53, 27);
        border-radius: 5px;
        background-color: rgb(70, 203, 60);
    }
    
    .flecha:hover {
        border-color: rgb(70, 203, 60);
        background-color: rgb(3, 67, 9);
        color: aliceblue;
    }
    
    footer {
        text-align: center;
        background-color: rgb(0, 111, 32);
        padding: 10px;
        color: aliceblue;
    }
    
    footer p {
        font-size: 20px;
    }
}